body{
    background-color: #2b1e25;
}
#lb{
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    font-size: 110px;
    color: #ffffff;
}
#cont{
    text-align: center;    
}
.bts{
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px ;
    background-color: rgb(238, 190, 245); 
    color: #701270;
    cursor: pointer;
    transition: background-color 0.25s;
    border: 0;
    border-radius: 10px;
}
.bts:hover{
    background-color: rgb(174, 80, 209);
    color: #ffffff;
}